---
title: Pairing Fonts
blocks:
  - |
    Try pairing a serif with a sans-serif.
    
    Here are some combinations to start you off:
    
    * Lato and Merriweather
    * Alegreya and Karla
        
  - playground: playground1
---
<div class="content">
  <h2>{{ page.title }}</h2>
</div>
{% for block in page.blocks %}
  {% if block.playground %}
    <div class="playground {{ block.playground }}"></div>  
  {% else %}
    <div class="content">{{ block | markdownify }}</div>
  {% endif %}
{% endfor %}
