@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Roboto+Condensed:300,300italic,400,400italic,700,700italic|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Montserrat:400,700|Lora:400,400italic,700,700italic|PT+Sans:400,400italic,700,700italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Noto+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic|Noto+Serif:400,400italic,700,700italic|Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic|Vollkorn:400,400italic,700,700italic|Libre+Baskerville:400,400italic,700|Signika:400,300,600,700|Alegreya:400,400italic,700,700italic,900,900italic|Crimson+Text:400,400italic,600,600italic,700,700italic|Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic|Karla:400,400italic,700,700italic|Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic|Economica:400,400italic,700,700italic|Gentium+Book+Basic:400,400italic,700,700italic|Gentium+Basic:400,400italic,700italic,700|Inconsolata:400,700|Source+Code+Pro:400,200,300,500,600,700,900|Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic|Fira+Mono:400,700);

body {
  font-family: Lato, sans-serif;
  margin: 0;
}
.content {
  padding: 20px 100px;
  background: #eee;
}
.playground {
  background: #333;
  padding: 20px 100px;
  overflow: auto;
}
.playground .control-panel {
  float: left;
  padding-right: 40px;
  color: #aaa;
  width: 130px;
}
.playground .control-group {
  position: relative;
}
.playground .control-panel h5 {
  font-family: sans-serif;
  color: #eee;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}
.playground .control-panel h5:hover {
  color: #fff;
}
.playground .control-panel h5:after {
  content: '-';
  opacity: 0.5;
  position: absolute;
  right: 0;
}
.playground .control-panel .control-group.hidden h5:after {
  content: '+';
}
.playground .control-panel .controls {
  transition: max-height 0.3s;
  max-height: 500px;
  overflow: hidden;
}
.playground .control-panel .control-group.hidden .controls {
  max-height: 0;
}
.playground .control-panel label {
  text-transform: uppercase;
  font-size: 10px;
  font-family: sans-serif;
}
.playground .control-panel input, .playground .control-panel select {
  opacity: 0.5;
  display: block;
}
.playground .posts {
  width: 600px;
  float: left;
  background: white;
  padding: 10px;
}
